
h1 a, h2 a {
    color: #072a40;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
    
}

.page-header {
    background-color:#f9f7f0;
    margin-top: 0;
    margin-bottom: 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #072a40;
    font-size: 30pt;
    text-decoration: none;
}


h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #072a40;
    float: right;
    font-size: 15pt;
    margin-right: 0px;
}

.post {
    margin-top: 20px;
}

.tablemar{
    margin-top: 20px;
}

.newpost{
    margin-top: 20px;
}
.post h2 a,
.post h2 a:visited {
    color: #072a40;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #072a40;
    background: none;
    border-color: #072a40;
    float:right;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

.btn btn-default {
    float:right;
    text-align:right;
}


table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
}
th, td {
      border: 1px solid black;
      text-align: center;
      padding: 15px;
    }
    th {
      height: 70px;
      background-color: #274c77;
      color: #f9f7f0;
    }
    tr:hover {background-color: #6092ba;}
    tr:nth-child(even) {background-color: #e7ecef;}

